<p>
  <a href="https://swcarpentry.github.io/shell-novice/">The Unix shell</a> has been around longer than most of its users have been alive. It has survived so long because it’s a power tool that allows people to do complex things with just a few keystrokes. More importantly, it helps them combine existing programs in new ways and automate repetitive tasks so they aren’t typing the same things over and over again. Use of the shell is fundamental to using a wide range of other powerful tools and computing resources (including “high-performance computing” supercomputers). These lessons will start you on a path towards using these resources effectively.
</p>
<p>
<b>Prerequisites</b>

This lesson guides you through the basics of file systems and the shell. If you have stored files on a computer at all and recognize the word “file” and either “directory” or “folder” (two common words for the same thing), you’re ready for this lesson.
</p>
<p>
If you’re already comfortable manipulating files and directories, searching for files with grep and find, and writing simple loops and scripts, you probably want to explore the next lesson:  <a href="https://carpentries-incubator.github.io/shell-extras/">shell-extras</a> on December 16.
</p>
<p>
The workshop will be held for two consecutive Monday afternoons from 1pm to 4pm on Dec 9 & 16 at the Jackson Laboratory campuses in Bar Harbor, Maine and Farmington, Connecticut. Participants must attend in person. Remote attendance from desks, home, or away will not be supported.
</p>
<p>
Bar Harbor: breezeway bioinformatics training room 1540, building 1, unit 5
Farmington: conference room 3320
</p>
<p>
Participants will be encouraged to help one another and to apply what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
